# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# Get this from https://mlab.com/home after you've logged in and created a database
MONGODB_URI=mongodb://localhost:27017/analytics-db

# This is standard running mongodb locally
MONGODB_URI_LOCAL=mongodb://localhost:27017/analytics-db

# Put lots of randomness in these
SESSION_SECRET=ashdfjhasdlkjfhalksdjaasdhflak

# Application Port - express server listens on this port (default 3000).
PORT=3434
ENVIRONMENT=production

# For security when calling Analytics API from another server
SERVER_SECRET=cdlo5ihzsyem3o4pj8srqe0oyzqy1i81te8t
